body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Raleway', arial, sans-serif;
  background-color: #78AED8;
}

a {
  color: #4D90C4;
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FF4901;
}

h1 {
  font-family: 'Baloo', cursive;
  margin-bottom: 10px;
  font-size: 5em;
  text-align: center;
  color: #FFD65A;
  text-shadow: 3px 3px 1px #FFA885;
}

.bubble {
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  background-color: #FFE185;
  box-shadow: 3px 3px 1px #FFA885;
}

.bubble h2 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 2.5em;
  color: #FF4901;
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFA885;
}

.bubble form {
  text-align: center;
}


.bubble input,
.bubble button {
  width: 100%;
  text-align: center;
  padding: 8px;
  margin: 10px 0;
  font-size: 1.2em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #FFA885;
}

.bubble input {
  border: solid #FFCC35 1px;
  color: #084B7E;
  background-color: #e6f4ff;
}

.bubble input:active,
.bubble input:focus {
  outline: none;
  border-color: #FF6E35;
}

.bubble button {
  font-family: 'Baloo', cursive;
  color: #FF4901;
  border: solid #FF6E35 1px;
  background-color: #FFA885;
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFA885
}

.bubble button:hover,
.bubble button:focus,
.bubble button:active {
  color: #FF4901;
  background-color: #FFCC35;
  outline: none;
  border: solid #FFBF01 1px;
}

.bubble .warning {
  color: #FF4901;
  font-weight: bold;
  font-size: 1.2em;
  height: 40px;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}

.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: grey solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  padding: 20px;
}

.creator input {
  float: left;
  height: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.creator input:focus,
.creator input:active,
.creator button:focus,
.creator button:active {
  outline: none;
}

.creator button {
  float: left;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  background-color: grey;
}

.creator img.spinner {
  height: 40px;
  margin-left: 5px;
}

.creator .message {
  clear: both;
  margin: 10px;
  color: red;
}
